# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm specific
.idea/

# Django specific
*.log
*.pot
*.sqlite3
db.sqlite3

# Django migrations
**/migrations/*
!**/migrations/__init__.py

# Static files
staticfiles/
static/

# Media files
**/media/*
!**/media/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
